# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

#Playwright
.playwright-mcp/
#temp desing work
funlens_design_concept/
foliolens_design_concept/

# Native builds
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Supabase
supabase/.branches/
supabase/.temp/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/
fixtures/private/

# Misc
*.pem
.vercel
foliolens-clear-lens/**